/*limpar formatação padrão de um brownser p outro*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #f3f3f3;
}

/*Id*/
#barraNavegacao{
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8 ;
    height: 45px; /*altura*/
    position: fixed;
    width: 100%;
    top:0;
}

#area{
    width: 720px; /*largura*/
    margin:0 auto;
}

#area-principal{
    width: 720px; /*largura*/
    margin: 55px  auto 10px auto;
}

#logo{
    float:left; /*logo fique a esquerda*/
}

#menu{
    float:right; /*menu fique a esquerda*/
    padding: 10px 0px;  
}

#postagem{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

h2{
    color: #b9c941
}


/*Formatação do Menu*/

a{
    text-decoration: none;
    padding: 5px;
    
}    
  a:link {
    color:#838383
  }

  a:visited { 
    color:#838383
  }

  a:hover {   /*link hover-passa o mouse*/
    color: #fff;
    background: #b9c941;
  }

  a:active { /*link ativado quando clicado*/
    color: #535353;
  }


/*Classes*/
.verde{
    color: #b9c941
}

.data-postagem{
    font-size: 14px;
    border-bottom:1px solid #f4f4f4;
    display:block; /*usa esse display block p estender a linha até o final (muda o elemento de inline para bloco)*/
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-postagem{
    float: left;
    margin: 0px 10px 0px
}

.postado-por{
    border-left: 5px solid #d8d8d8;
    padding-left: 5px;
    display:block;
    margin-top: 10px;
}